@model TDocGium
<li class="span3">
    <div class="product-box">
        <span class="sale_tag"></span>
        <p><a href="product_detail.html"><img src="@Url.Content("../image/Sach/Chung.jpg")" alt="" /></a></p>
        <a href="product_detail.html" class="title">@Model.TenDg</a><br />
        <a href="products.html" class="category">@Model.MaDg</a>
    </div>
</li>